<ion-view view-title="Customers">
  <ion-content>
    <form>
    <input type="text" ng-model="name"/>
    <button ng-click="search(name)">search
    </button></form>
    <ion-list>
      <ion-item ng-repeat="customer in customers" class="item-avatar">
        <h2>{{ customer.name }}</h2>
        <p>{{ customer.phoneNum }}</p>

        <ion-option-button class="button-assertive" ng-click="remove(customer)">
          <i class="ion-minus-circled"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
    

  </ion-content>
</ion-view>